version: '2'

services:

### Workspace Utilities Container ###
# 构建工作环境配置
    workspace:
        build:
            context: ./workspace
            args:
                - TZ=Asia/Shanghai #CST
                - INSTALL_WORKSPACE_SSH=true
                - PUID=1000
                - PGID=1000
                - USER=work
                - GROUP=work
                - INSTALL_COMPOSER=true
        extra_hosts:
            # IMPORTANT: Replace with your Docker Host IP (will be appended to /etc/hosts)
            - "dockerhost:10.0.75.1"
        volumes:
            - ./www:/var/www
        ports:
           - "2222:22"
        tty: true #bash shell

### PHP-FPM Container #######################################

    php-fpm:
        build:
            context: ./php-fpm
            args:
                - TZ=Asia/Shanghai #CST
                - PUID=1000
                - PGID=1000
                - USER=work
                - GROUP=work
                - INSTALL_XDEBUG=false
                - INSTALL_PHPREDIS=true
                - INSTALL_MONGO=false
                - INSTALL_OPCACHE=true
                - INSTALL_AMQP=true
            dockerfile: Dockerfile
        volumes_from:
            - workspace
        expose:
            - "9000"
        links:
            - workspace
        # extra_hosts:
        #     # IMPORTANT: Replace with your Docker Host IP (will be appended to /etc/hosts)
        #     - "dockerhost:10.0.75.1"
        restart: always


### Nginx Server Container ##################################

    nginx:
        build:
            context: ./nginx
            args:
                - TZ=Asia/Shanghai #CST
                - PUID=1000
                - PGID=1000
                - USER=work
                - GROUP=work
        volumes_from:
            - workspace
        volumes:
            - ./logs/nginx/:/var/log/nginx
            - ./nginx/conf.d/:/etc/nginx/conf.d
        ports:
            - "8000:80"
            - "8430:443"
        links:
            - php-fpm

### mysql Container ##################################

    mysql:
        build:
            context: ./mysql
        volumes:
            - mysql-data:/var/lib/mysql
        environment:
            MYSQL_DATABASE: work
            MYSQL_USER: work
            MYSQL_PASSWORD: work@123!
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "3306:3306"

#### Redis Container #########################################

    redis:
        build: ./redis
        volumes:
            - redis:/data
        ports:
            - "6379:6379"

# ### RabbitMQ Container ######################################

    rabbitmq:
        build: ./rabbitmq
        ports:
            - "5672:5672"
            - "15671:15671"
            - "15672:15672"
        environment:
            RABBITMQ_DEFAULT_USER: work
            RABBITMQ_DEFAULT_PASS: work


#### Volumes ###########################################

volumes:
    mysql-data:
    redis:
    